<h2>Lesson Agenda</h2>
<% excludes = options[:excludes] || [] %>

<table class="o-agenda o-native-table">
  <tr class="u-txt--agenda-header">
    <td width="40%" class="o-agenda__item"><p>BLOCK / ACTIVITY</p></td>
    <!-- <td>OBJECTIVE / DESCRIPTION</td>
    <td>ALIGNMENT</td> -->
    <td class="u-text--centered o-agenda__item" width="35%"><p>CCSS</p></td>
    <td class="u-text--centered o-agenda__item"><p>PRIORITY</p></td>
    <td class="u-text--right o-agenda__item"><p>TIME</p></td>
  </tr>
  <tr>
    <td colspan="3" class="u-txt--agenda-l1-title u-border--none o-agenda__item">
      <p>
        Total Instruction Time
      </p>
    </td>
    <td class="u-txt--agenda-l1-time u-text--right u-border--none o-agenda__item">
    </td>
  </tr>
</table>
