<p class="title u-txt--title"><span><%= document.title %></span></p>
<% if document.teaser.present? %>
  <p class="subtitle u-txt--header-teaser">
    <%= raw document.teaser  %>
  </p>
<% end %>
<% if document.standards.present? %>
  <p><strong>STANDARDS: </strong><%= document.standards&.upcase %></p>
<% end %>
<div class="o-ld-hr--l1">
  <hr>
</div>
