<table class="w-75">
  <% BUNDLE_CONTENT_TYPES.each do |content_type| %>
    <%#
      Possible localized values:
        - admin.bundle.unit_bundle
    %>
    <%
      case content_type
      when "unit_bundle"
        job_class = UnitBundlePdfJob
        title = t("admin.bundle.#{content_type}")
        generate_path_pdf = unit_bundle_pdf_admin_unit_path(unit)
        generate_path_gdoc = unit_bundle_gdoc_admin_unit_path(unit)
      else
        raise "Unknown content type: #{content_type}"
      end
    %>
    <%= render partial: "admin/units/generate_links_row", locals: { job_class:, title:, generate_path_pdf:, generate_path_gdoc:, unit:} %>
  <% end %>
</table>
