<% set_page_title t("admin.units.bundle.title") %>
<div>
  <h2 class="text-center"><%= t("admin.units.bundle.title") %></h2>
  <div class="row">
    <div class="col-sm-2">
      <%= link_to "Back", admin_units_path(anchor: "unit_#{@unit.id}", query: @query_params.to_h),
                  class: "btn btn-primary",
                  data: { turbo: false } %>
    </div>
  </div>
  <%= render_component("ImportStatus", @props) %>
</div>
