<% title = t('.page_title', resource: @resource.title) %>
<% set_page_title title %>
<div class="container-fluid p-3">
  <h2 class="text-center"><%= title %></h2>
  <hr>
  <div class="col-sm">
    <%= link_to 'Back to list', admin_resources_path, class: 'btn btn-success' %>
  </div>
  <hr>
  <%= render 'form' %>
</div>
