<style >
  <%= raw(@document.css_styles) %>
</style>

<div class="u-bg--light">
  <div class="container-fluid o-page--ld u-padding-bottom--gutter2x doc-subject-<%= @document.metadata['subject'].to_s.downcase %>" data-scroll="ld-page" id="ld-page">
    <%= render 'content', document: @document, lti: true %>
  </div>
</div>
